/* Register.css */
.container
{
    width: 95%;
}

.Register-flex-container {
    margin-top: 5%;
}

.register-card-title {
    text-align: center;
    font-size: 32px;
}

.register-button-custom {
    text-align: center;
}
