<!-- Register.cshtml -->
@model CapStone1.ViewModels.RegisterViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Register.css" />

<div class="container">
    <div class="row">
        <div class="Register-flex-container">
            <div class="card card-custom-width">
                <div class="card-content">
                    <div class="register-card-title">
                    <span>회원가입</span>
                    </div>
                    <form asp-action="Register" method="post">
                        <div class="input-field">
                            <i class="material-icons prefix">face</i>
                            <input type="text" id="Nickname" name="Nickname" class="validate" required>
                            <label for="Nickname">Nickname</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">email</i>
                            <input type="email" id="Email" name="Email" class="validate" required>
                            <label for="Email">Email</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            <input type="text" id="Username" name="Username" class="validate" required>
                            <label for="Username">Username</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">lock</i>
                            <input type="password" id="Password" name="Password" class="validate" required>
                            <label for="Password">Password</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">lock_outline</i>
                            <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="validate" required>
                            <label for="ConfirmPassword">Confirm Password</label>
                        </div>
                        <div class="register-button-custom">
                            <button class="btn waves-effect waves-light" type="submit" name="action">
                                회원가입
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>